@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
}
.right {
  width: 75vw;

}

.home ul li {
  display: flex;
  gap: 15px;
  width: 14px;
  list-style: none;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  display: flex;
  gap: 15px;
  width: 100%;
  padding-top: 14px;
  padding: 23px 14px;
  font-weight: bold;
  align-items: center;
  font-size: 13px;
}
.heading img {
  width: 25px;
}
.library {
  min-height: 80vh;
  position: relative;
}
.footer {
  display: flex;
  font-size: 10px;
  color: grey;
  gap: 13px;
  position: absolute;
  bottom: 0;
  padding: 10px 0;

}
.footer a {
  color: grey;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: rgba(34, 34, 34, 1);
}
.header > * {
  padding: 20px;
}

.spotifyPlaylist {
  padding: 16px;
}
.cardContainer {
  margin: 30px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  max-height: 70vh;
  overflow: scroll;
}
.card {
  width: 200px;
  padding: 10px;
  border-radius: 5px;
  background-color: #252525;
  position: relative;
  
}
.buttons > *{
  margin: 0 12px;
}
.signupbtn{
  background-color: rgb(34, 34, 34);
  color: rgb(145, 143, 143);
  font-weight:bold;
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}
.signupbtn:hover{
  font-size: 17px;
  color: white;
}
.loginbtn{
  background-color: white;
  border-radius: 21px;
  color: black;
  padding: 10px;
  width: 79px;
  cursor:pointer;
  font-size: 16px;

}
.loginbtn:hover{

  font-size: 17px;
  font-weight:bold;
  
}

.card > * {
  padding-top: 10px;
}
.card img {
  width: 100%;
  object-fit: contain;
}
.play {
  width: 24px;
  height: 24px;
  background-color: #1fdf64;
  border-radius: 50%;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 175px;
  right: 20px;
  opacity: 0;
  transition: all 1s ease-out;

}
.play:hover{
    opacity: 1;
}
